.navbar-nav{
    justify-content: end;
    flex: auto;
}

.nav-item a:hover{
    color: #5fcf80;
}
.nav-item a{
    color: black;
}
.nav-item{
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
}
.navbar-brand:hover{
    color: #5fcf80;
}
.navbar-brand {
    color: #5fcf80;
    font-size: 30px;
    font-family: 'Poppins', sans-serif;
    font-weight:800;
}
.navbar-toggler{
    border: 1px solid transparent;
    border-radius: 0.25rem;
}
 .navbar-toggler-icon{
    color: rgba(0,0,0,.5);
    background-color: grey;
    border-color: rgba(0,0,0,.1);
}


.banner-sec{
    background-image: url('../image/hero-bg.jpg');
    height: 400px;
    background-position: right top;
    background-attachment: fixed;
    background-size: cover;
}
.btn{
    /* width: 140px; */
    /* height: 40px; */
    border: 2px solid green;
    font-size: 14px;
    font-family: 'Raleway', sans-serif;
}
.banner-sec h3{
   font-family: 'Poppins', sans-serif;
    font-size: 28px;
    line-height: 36px;
    color: white;
    padding-top: 80px;
    font-weight: 700;
}

.banner-sec h2{
    
    color: white;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    line-height: 24px;
    font-weight: 700;
}
@media (min-width:768px){
.banner-sec h3{
    font-size: 28px;
    line-height: 36px;
    font-weight: 700;
}
}
@media (min-width:992px){
    .banner-sec h3{
        font-size: 48px;
        line-height: 56px;
        font-weight: 700;
    }
    .banner-sec h2{
        font-size: 24px;
        line-height: 1.2;
    }
}
.button-sec{
    margin-top: 30px;
    margin-left: 5px;
}
.about-sec{
    margin-top: 25px;
}
.about-sec h5{
    font-family: "Raleway", sans-serif;
    font-weight: 600;
    font-size: 26px;
    color: #444444;
}
.about-sec p{
    font-style: italic;
    font-size: 16px;
}
.about-sec li{
    padding-bottom: 10px;
    font-size: 16px;
    color: #444444;
    font-family: sans-serif;
}
.statistics-sec{
margin: 30px;
    background-color: #f6f7f6;
}
.statistics-sec h2{
    padding-top: 40px;
    padding-bottom: 5px;
    font-size: 48px;
    color: #5fcf80;
    font-weight: 700;
}
.statistics-sec h5{
    font-family: "Raleway", sans-serif;
    font-size: 15px;
    font-weight: 600;
    color: #37423b;
}
.mentor-section .icofont-newspaper{
    padding: 18px;
    font-size: 39px;
    border-radius: 50%;
    position: relative;
    color: darkseagreen;
    background: #ecf9f0;
    margin-left: 40px;
    top: 49px;
}
.mentor-section .col-lg-4{
   background-color: #5fcf80;
   color: white;
}
.mentor-section .btn{
   padding: 8px 25px;
   margin-left: 99px;
   margin-bottom: 10px;
   border: 1px solid #7fd999;
   border-radius: 20px;
   background-color: #7fd999;
}

.mentor-section{
   margin-top: 85px;
}
.mentor-section .row{
    justify-content: space-around;
    margin-top: 46px;
}
.mentor-section .col-xl-3 p{
   padding-top: 28px;
   color: #bababa;

}
.mentor-section .h2{
   margin-top: 78px;
}
.mentor-section-1{
   border: 1px solid #ecf9f0;
   padding: 0px 10px;
   width: 230px;
}
.icofont-cube{
    padding: 18px;
    font-size: 39px;
    border-radius: 50%;
    position: relative;
    color: darkseagreen;
    background: #ecf9f0;
    margin-left: 40px;
    top: 49px;
   
 }
 .icofont-image{
     padding: 18px;
    font-size: 39px;
    border-radius: 50%;
    position: relative;
    color: darkseagreen;
    background: #ecf9f0;
    margin-left: 40px;
    top: 49px;
 }
 @media (max-width:360px){
    .mentor-section .icofont-newspaper{
        margin-left: 119px;
    }
.icofont-cube{
    margin-left: 119px;
}
.icofont-image{
    margin-left: 119px;
}

 }
 @media (max-width:768px){
    .mentor-section .icofont-newspaper{
        margin-left: 128px;
    }
.icofont-cube{
    margin-left: 128px;
}
.icofont-image{
    margin-left: 128px;
}

 }
 @media (max-width:992px){
     .mentor-section-1{
         margin-left: 62px;
     }
     .mentor-section .icofont-newspaper{
        margin-left: 86px;
    }
.icofont-cube{
    margin-left: 86px;
}
.icofont-image{
    margin-left: 86px;
}
 }
 
@media(min-width:576px) and (max-width:1199px){
   .mentor-section-1{
       width: 554px;
   
   }
   
   
   .mentor-section-1 i{
       position: relative;
       left: 156px;
   }
}

      .icofont-basket{
        color: orange;
        font-size: 30px;
    }
    .icofont-bars{
        color: blue;
        font-size: 30px;
    }
    .icofont-tasks-alt{
        color: crimson;
        font-size: 30px;
    }
    .icofont-vector-path{
        color: darkmagenta;
        font-size: 30px;
    }
    .icofont-database{
        color: darkturquoise;
        font-size: 30px;
    }
    .icofont-dashboard{
    color: rgb(240, 164, 24);
    font-size: 30px;
    }
    .icofont-ebook{
        color: aqua;
        font-size: 30px;
    }
    .icofont-eject{
        color: cornflowerblue;
        font-size: 30px;
    }
    .icofont-usb{
        color: lightseagreen;
        font-size: 30px;
    }
    .icofont-speed-meter{
        color: brown;
        font-size: 30px;
    }
    .icofont-network-tower{
        color: orangered;
    font-size: 30px;
}
.icofont-touch{
    color: green;
    font-size: 30px;
}
.list-sec{
    margin-top: 30px;
}
.type-sec h5{
    margin-top: 20px;
    border: 1px solid whitesmoke;
    padding:20px 20px;
}
.type-sec h5:hover{
    border-color: green;
}
.type-sec a{
    color: black;
    font-size: 16px;
    text-decoration: none;
    }
.type-sec a:hover{
    color: green;
    text-decoration: none;
}
.course-sec h3{
    margin-top: 100px;
    font-size: 14px;
}
.course-sec h4{
    color: #37423b;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 36px;
}
.course-sec h5{
    font-size: 20px;
    font-family: 'Raleway', sans-serif;
    margin-top: 20px;
    font-weight: bold;
    color: #37423b;
}
.course-sec p{
    
    font-size: 14px;
    color: #777777;
    font-family: "Open Sans", sans-serif;
}
.card-body input {
    background-color: #5fcf80;
    border: 1px solid #5fcf80;
}
.card-body span{
    padding-left: 110px;
    font-size: 18px;
    font-weight: bold;
}
.view-sec img{
    max-height: 40px;
    max-width: 50px;
    border: 1px solid #cbcbcb;
    border-radius: 50px;
}
.view-sec1 img{
    max-height: 40px;
    max-width: 50px;
    border: 1px solid #cbcbcb;
    border-radius: 50px;
}
.view-sec span{
    font-family: "Open Sans", sans-serif;
    padding-left: 10px;
    font-weight: 600;
    font-size: 16px;
    color: #5a6c60;
}
.view-sec1 span{
    font-family: "Open Sans", sans-serif;
    padding-left: 10px;
    font-weight: 600;
    font-size: 16px;
    color: #5a6c60;
}
@media (min-width:360px){
    .view-sec1 span{
        padding-right: 86px;
    }
    .view-sec span{
        padding-right: 86px;
    }
   
    
}
@media (min-width:576px){
    .view-sec1 span{
        padding-right: 225px;
    }
    .view-sec span{
        padding-right: 225px;
    }
}
@media (min-width:768px){
    .view-sec span{
        padding-right: 39px;
    }
    .view-sec1 span{
        padding-right: 39px;
    }
    
}
@media (min-width:992px){
    .view-sec1 span{
        padding-bottom: 38px;
    }
    
}
@media (min-width:1200px){
    .view-sec span{
        padding-bottom: 38px;
    }
}
.view-sec h6{
    font-size: 18px;
}
.view-sec1{
    font-size:18px ;
}
.logo-sec img{
    border:none;
    height: 20px;
    width: 30px;
}
.logo-sec{
    margin-left: 40px;
}
.contact-sec{
    margin-left: 10px;
}
.team-sec{
    margin-top: 80px;
   }
   .trainee-sec{
       border: 1px solid white;
       box-shadow:1px 2px 2px 1px whitesmoke;
       background-color: white;
   }
   .trainee-sec h4{
       margin-top: 27px;
   }
   .trainee-sec p{
       text-align: center;
       padding-left: 20px;
   }
.team-sec img{
    width: 100%;
    height: auto;
}
.img-sec img{
    margin-bottom: 30px;
    height: 15px;
    width: 26px;
    border-bottom: 30px;
    }
    .img-sec img:hover{
        background-color:#5fcf80 ;
    }
    .team-sec h4{
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
}
.team-sec h6{
    font-family: sans-serif;
    font-style: italic;
    font-size: 13px;
}
.team-sec p{
    font-family: "Open Sans", sans-serif;
    font-style: italic;
    color: #aaaaaa;
    font-size: 15px;
}

.footer-sec h5{
    margin-top: 60px;
    font-size: 28px;
    font-family: 'Raleway', sans-serif;

}
.footer-sec h5 li{
     color: #777777;
}
.footer-sec h4{
    margin-top: 70px;
    padding-left: 3px;
    font-size: 16px;
    font-family:'Raleway', sans-serif ;
    color: #444444;
    font-weight: bold;
}
.arrow-sec a:hover{
    color:#5fcf80;
    text-decoration: none;
}
.arrow-sec a{
 color: #777777;
}

.arrow-sec img{
    height: 25px;
    width: 15px;
}
.arrow-sec li{
    color: #777777;
    line-height: 2.4;
}
@media (min-width:576px){
    .form{
        padding: 8px 100px;
    }
}
.last-sec p{
    padding-top: 30px;
}
.course-sec h3::after{
    content: "";
    display: inline-block;
    height: 1px;
    width: 130px;
    background-color:#9ae1af;
    margin-left: 20px;
}

.last-sec{
    background-color: #eef0ef;
    
}
.text-end{
    margin-top: 30px;
    margin-bottom: 30px;
}
@media (min-width:360px){
    .card-body span{
        padding-left: 95px;
    }
     .last-sec h4{
        text-align: center;
    }
    .text-end {
        text-align: center;
    }
}
@media(min-width:768px){
    .last-sec h4{
        text-align: left;
    }
}
.need-sec{
    position: relative;
border:1px solid #e0e5e2 ;
border-radius: 20px;
background-color: white;

}
.mail-sec{
    margin-left: 2px;
    border: none;
    border-radius: 20px;
}
.submit-sec{
    background-color:#5fcf80 ;
    border: none;
    border-radius: 20px;
    top: 0px;
    right: 0px;
    position: absolute;
    
}